.main-div  {    
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    min-height: 91.5vh;
    background-color: var(--background-color);
}

.main-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--light-text-color);
    border: 2px solid black;
    padding: 12rem;
    border-radius: 8px;
    margin-top: 5rem;
    background-color: var(--primary-color);
    min-height: 80vh;
}

.main-form > h4 {
    font-size: calc(1.5rem + 1vw);
    margin: 2rem;
    margin-bottom: 2.5rem;
    color: var(--background-color);
}

.main-form .form-control {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    border: 2px solid black !important;
    color: var(--primary-color) !important;
    font-weight: bolder !important;
    box-sizing: border-box !important;
}

.form-control:focus {
    outline: none;
    box-shadow: 0 0 0 0.25rem var(--background-color) !important;
    background-color: var(--primary-color) !important;
    border:none !important;
    box-sizing: border-box !important;
    margin: 0 ;
}

.form-btn {
    background-color: var(--background-color)!important;
    color: var(--primary-color)!important;
    font-size: 16px !important;
    display: block;
    padding: 0.5rem !important;
    width: 10rem;
    margin: auto;
    border: 2px solid black !important;
    font-weight: bolder !important;
}

.form-btn:hover {
    outline: none;
    box-shadow: 0 0 0 0.25rem var(--accent-color) !important;
}

.form-btn:focus {
    outline: none;
    box-shadow: 0 0 0 0.25rem var(--accent-color) !important;
}


@media (max-width: 320px) {
    .main-form > h4 {
        font-size: 1.5rem; 
        padding: 0.2rem;

    }

    .form-btn {
        background-color: var(--background-color)!important;
        color: var(--primary-color)!important;
        font-size: 16px !important;
        display: block;
        padding: 0.5rem !important;
        width: 5rem;
        margin: auto;
        border: none !important;
    }
}



@media (max-width: 768px) {
    .main-form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: var(--light-text-color);
        border: 2px solid black;
        padding: 3rem;
        border-radius: 8px;
        margin-top: 5rem;
        background-color: var(--primary-color);
        min-height: 70vh;
    }
}

