@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

:root {
  --primary-color: #6DC38D;
  --secondary-color: #4D6749;
  --secondary-color-plus: #7E9D0A;
  --accent-color: #D6FF42;
  --background-color: #004751;
  --lightened-background-color: #E0E0E0;
  --text-color: #000000;
  --light-text-color: #FFFFFF;
  --custom-red: #B83B3B;
  --font-body: 'Poppins', sans-serif;
  --font-heading-lora: 'Lora', serif;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: var(--font-body);
  background-color: var(--background-color) !important;
}
